<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<section class="blog">
    <div class="container">
        <div class="banner-heading">
            <h2>Manage Bicycles</h2>
            <a routerLink="/admin/admin-add-bicycle" class="btn btn-danger" *ngIf="usertype==1">Add Bicycle</a>
            <a routerLink="/layout/renter-add-bicycle" class="btn btn-danger" *ngIf="usertype==2">Add Bicycle</a>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 margin-top" *ngFor="let bike of data">
                <div class="content-div">
                    <div class="blog-inner">
                        <div class="blog-img">
                            <img 
                                [src]="getimagepath(bike.image)" 
                                [alt]="bike.bikeType"
                                (error)="onImageError($event)"
                                class="img-responsive" 
                            />
                            <div class="img-border"></div>
                        </div>
                        <div class="blog-text">
                            <div>
                                <p class="blog-heading">{{ bike.bikeType }}</p>
                                <p style="font-size: 1.3rem; color: #dc3545; font-weight: 600; margin: 5px 0 10px 0;">
                                    {{ bike.pricePerHour | currency:'INR' }} <span style="font-size: 0.8rem; color: #999;">/hour</span>
                                </p>
                            </div>
                            <p class="blog-textual-cont">{{ bike.description }}</p>
                            <div>
                                <a [routerLink]="['/admin/admin-edit-bicycle',bike._id]" *ngIf="usertype==1" title="Edit">
                                    <i class="fa fa-edit text-success fa-2x"></i>
                                </a>
                                <a [routerLink]="['/layout/renter-edit-bicycle',bike._id]" *ngIf="usertype==2" title="Edit">
                                    <i class="fa fa-edit text-success fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>